.add-new {
  text-align: center;
  border: 0.2rem solid #676b6e;
  border-radius: 1rem;
  width: 40%;
  color: #676b6e;
  margin: auto;
  padding: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

button {
  padding: 0.3rem;
  color: #676b6e;
  background-color: rgb(195, 223, 223);
  border: 1px solid #676b6e;
  border-radius: 0.2rem;
  margin: 0.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor:pointer;
}

button:hover {
  background-color: #676b6e;
  color: white;
  border-color: #50575a;
}

input {
  border-radius: 0.5rem;
}
