.cartoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 237, 227);
  padding: 0 1rem;
  margin: 0.5rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.cartoon img {
  width: 400px;
  height: 570px;
  border-radius: 1rem;
}

.cartoon p {
  color: #676b6e;
  font-style: italic;
  padding-top: 1px;
}

.cartoon button {
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 0.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.cartoon .show-review {
  color: #676b6e;
  background-color: rgb(195, 223, 223);
  border: 1px solid #676b6e;
}
.cartoon .review {
  max-width: 400px;
  text-align: center;
  /* display: none; */
}

.cartoon .options {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.cartoon .remove-btn {
  background-color: #eb3434;
  color: aliceblue;
}
